# Node.js
/node_modules

# Build output
/dist

# IDE files
/.idea
/.vscode

# Compiled files
*.js
*.jsx
*.ts
*.tsx

# Dependency lock files
package-lock.json
yarn.lock

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store